*.pyc
venv/
.gitignore

other/cartpole/algs/qlearn/dqn_models/
other/cartpole/algs/qlearn/dqn_rewards

other/cartpole/algs/qlearn/tdata
other/cartpole/algs/qlearn/tdata2
train/qlearn/hyper

other/cartpole/algs/qlearn/dqnv2_models

other/cartpole/algs/policygrad/PPO_data
other/cartpole/algs/policygrad/tmp
other/cartpole/algs/policygrad/plots

train/selfplay/policygrad/PPO_data

# PPO_data/